@using Employee.Core

@{
    Employee Employee = (Employee)ViewData["Employee"];
    string Title = (string)ViewData["Title"];
}

<div>
    <label style="font-weight:bold">@Title</label>
</div>
<div class="pt-2 mb-2 employee_form" style="overflow:auto">
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr style="background-color:azure">
                <td>Property</td>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td style="width: 100px">Full Name</td>
                <td>
                    <input type="hidden" id="employee_id" value="@Employee.EmployeeId" />
                    <input class="form-control-sm w-100" id="first_name" value="@Employee.EmployeeFullName" autocomplete="off" />
                </td>
            </tr>
        <tr>
            <td style="width: 100px">Address</td>
            <td>
                <input class="form-control-sm w-100" id="address" value="@Employee.Address" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <td style="width: 100px">Phone Number</td>
            <td>
                <input class="form-control-sm w-100" id="phoneNo" value="@Employee.PhoneNumber" autocomplete="off" />
            </td>
        </tr>

        <tr>
            <td style="width: 100px">Position*</td>
            <td>
                <input class="form-control-sm w-100" id="position" value="@Employee.Position" autocomplete="off" list="positions" />
                <datalist id="positions">
                    @foreach (var pos in Enum.GetValues(typeof(Position)))
                    {
                        <option value="@pos" />
                    }
                </datalist>
            </td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align:right">

                    <button type="button" class="btn btn-sm btn-outline-primary employee-form-save" id="save_form">
                        <i class="fa fa-floppy-o" style="margin-right:5px"></i>
                        @(Employee.EmployeeId != 0? "Update" : "Save")
                    </button>

                    <button type="button" class="btn btn-sm btn-outline-primary employee-form-close" id="close_form">
                        <i class="fa fa-close" style="margin-right:5px"></i>
                        Close
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>